
<h1>About Me</h1>

<%= image_tag("regina.jpg", :alt => "rss feed", :size => "520x360") %>

<p><i> Photo credits goes to my mom. This was taken last December at a beach in Hong Kong. </i></p> 
<p> My name is Regina and I am 23 years old from Rochester Hills, Michigan.</p>
<p> Right now, there's no purpose to this site other. This is mainly a "place" for me to post pretty pictures and learn web design. </p>