<div class="jumbotron">

	<h1>Contact Me</h1>

	<p>
		<div>
		E-mail: fakereginaemail@gmail.com
		</div>
		<div>
		Facebook: www.facebook.com/fakeregina
		</div>
		<div>
		Twitter: @fakeregina
		</div>
		
	</p>
</div>
